
.detailes-container{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.email-details-title{
    font-weight: 200;
    margin: 3px;
font-size: 2rem;
}
.email-details-name{
color: gray;

}
.detailes-title-container{
display: flex;
justify-content: space-between;
}
.detailes-title-container button{
    border: none;
    align-items: center;
    border-radius: 3rem;
}

.detailes-title-container button img{
    max-width: 30px;
    
}
.email-details-name span{
    color: black;
    font-weight: 600;
}

.email-details-content{
    align-self: center;
    margin: 0 30px;
    font-weight: 400;
}