.app-header{
    display: flex;
    justify-content: space-between;
    padding: 6px;
    background-color: yellow;
    align-items: center;
}



.open{
    display: block;
}
.close{
    display: none;
}