.email-hr{
    background-color:rgb(206, 194, 194);
    height: 2px;
    opacity: 0.5;
    margin: 0;
    border: none;
}


.email-preview{
    display: flex;
    /* gap:5px; */
    justify-content: space-between;
/* align-items: center; */
}
.email-selected{
    background-color: rgb(246 246 246);

}

.email-clock{
   color: blue; 
   font-weight: 500;
}