.star-btn{
    background-color:inherit;
    border:none;
    font-size: 2rem;
    /* color: white; */

}
.star{
    /* border:1px solid black; */
    
}

.star:hover{
    color:yellow;
}


.on{
    color: yellow;
}