

.note-add {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    width: 350px;
}

.input-text {
    width: 350px;
    height: 20px;
}

.note-add-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #E8E8E8;
    min-width: 100%;
    width: 100px;
    height: 80px;
    /* min-width: 375px; */
    padding: 10px;
    margin: 10px;
}

.note-add input[type=image] {
    width: 38px;
    height: 38px;
}

.note-add button {
    width: 38px;
    height: 38px;
    align-items: center;
}

.note-add button img {
    width: 34px;
    height: 34px;
}