/* HELPERS */

.flex {
    display: flex;
}

.flex.row-reverse {
    flex-direction: row-reverse;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.flex-row {
    flex-direction: row;
}

.flex.align-stretch {
    align-items: stretch;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.justify-space-between {
    justify-content: space-between;
}

.flex.justify-space-around {
    justify-content: space-around;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.align-content-start {
    align-content: flex-start;
}

.flex.align-content-end {
    align-content: flex-end;
}

.flex.align-content-center {
    align-content: center;
}

.flex.justify-content-start {
    justify-content: start;
}

.flex.justify-content-end {
    justify-content: end;
}

.text-transform-none {
    text-transform: none;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.flex.justify-space-around {
    justify-content: space-around;
}

.flex.justify-space-evenly {
    justify-content: space-evenly;
}
